# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/

# build outputs
dist/
build/
coverage/
*.tsbuildinfo

# local env files (keep template)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# local databases / temp
prisma/dev.db
prisma/dev.db-journal

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor / OS
.DS_Store
.vscode/
.idea/

# local backup folders
.next_backup_*/
